.board{
  width:500px;
  height: 500px;
  display: grid;
  outline: auto;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}

body{
  background-color: aqua;
}

.buttons{
  display: flex;
  text-align: center;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
}


h1{
  text-align: center;
}

.mode{
  text-align: center;
}